.container {
  background-color: #1B263B; /* Fond bleu nuit */
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 70px;
  height: 70px;
  margin: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #344D72; /* Bulles bleu nuit plus clair */
  padding: 40px;
  border-radius: 15px;
  margin: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.menuButtonContainer {
  position: absolute;
  top: 20px;
  right: 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF; /* Texte blanc */
  margin-bottom: 20px;
  text-align: center;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 38, 80, 0.8); /* Fond modal semi-transparent bleu nuit */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalView {
  background-color: #1B263B;
  border-radius: 20px;
  padding: 35px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #FFFFFF; /* Texte blanc */
}

.modalButton {
  background-color: #344D72; /* Boutons bleu nuit plus clair */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 200px;
  color: #FFFFFF; /* Texte blanc */
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.modalButton:hover {
  background-color: #2A3E5E; /* Couleur légèrement plus foncée au survol */
}

.closeButton {
  background-color: #007ACC; /* Couleur bleu clair */
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  color: #FFFFFF; /* Texte blanc */
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #005FA8; /* Couleur légèrement plus foncée au survol */
}
